<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Todo API test page</title>
</head>
<body>
    <div class="inline-block bg-gray-100 p-4 rounded-2xl absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
        <h1 class="text-2xl font-bold">
            Todo API test page
        </h1>
        <p class="text-balance">
            This is a test page for the Todo API. It is used to test the API endpoints.
        </p>
        <p class="text-sm text-gray-400">
          last run on  <%= date %>
        </p>
    </div>
</body>
</html>
